@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-image: url("./assets/close-up-of-asian-female-eyes-look-black-and-white-manga-style-japanese-cartoon-comic-concept-anime-characters-hand-drawn-trendy-vector-seamless-pattern-background-wallpaper-700-204032842.jpg");
  background-size: 551px;
  background-clip: border-box;
  background-repeat: repeat;
  height: 100vh;
  animation: anime 120s infinite linear;
}
#getKeyForm:has(#apiKeyGuide:hover) > #guide {
  display: block !important;
}

#guide {
  display: none;
  position: absolute;
}
.fade {
  opacity: 0;
  animation: fade 3s ease-in forwards;
}
@keyframes anime {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: -500% 0%;
  }
}
@keyframes fade {
  from {
    opacity: 100%;
  }
  50% {
    opacity: 70%;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
